body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #e5e1e4;
}

.no-indent dd {
}

#mapContainer {
    width: 100vw; /* 画面全体に広がる */
    height: 100vh; /* 画面全体に広がる */
    position: relative;
    overflow: hidden;
}

#map {
    width: 234px; /* 固定幅 */
    height: 342px; /* 固定高さ */
    position: absolute;
    background: url('map.png') no-repeat center center;
    background-size: contain; /* 固定サイズで表示 */
    left: 50%; /* 中心に配置 */
    top: 50%; /* 中心に配置 */
    transform: translate(-30%, -90%); /* 地図の中心をウィンドウの中心に合わせる */
    cursor: grab;
}

.marker {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%); /* アイコンの中心を位置の基準にする */
}

    .marker.selected {
        filter: hue-rotate(180deg);
        z-index: 999;
    }

    .marker.disconnected {
        filter: grayscale(1.0);
    }

.player-icon {
    width: 110%;
    height: 110%;
    position: relative;
}

.player-number {
    position: absolute;
    top: 175%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(255, 0, 0, 1);
    border-radius: 50%;
    width: 13px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: bold;
    z-index: 1;
}

#informations {
    position: absolute;
    width: 30vw;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    padding: 0px;
    font-size: 0.1em;
}

.information {
    background: rgba(255, 255, 255, 0.9);
    padding: 0px;
    border-radius: 5px;
}

.timeline-text {
    font-size: 0.5em;
}

#deviceList {
    height: 85vh;
    overflow-y: auto;
    padding: 0;
    list-style-type: none;
}

    #deviceList li {
        background: rgba(255, 255, 255, 0.9);
        margin: 5px 0 5px 0;
        padding: 0 5px 0 10px;
        border: 1px solid #ddd;
    }

        #deviceList li.selected {
            background: rgba(173, 216, 230, 0.9);
        }

.definition-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .definition-list dt {
        font-weight: bold;
        margin-top: 5px;
    }

    .definition-list dd {
        margin-bottom: 5px;
        margin-left: 0;
        padding-left: 20px;
    }

.popup {
    display: none;
    position: absolute;
    height: 50vh;
    overflow-y: auto;
    width: 50vw;
    bottom: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border-radius: 5px;
    z-index: 1001;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    font-size: 0.5em;
}

    .popup h2 {
        margin: 0 0 5px;
    }

    .popup div {
        margin: 0 0 5px;
    }

button {
    display: inline-block;
    width: 100%;
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 0.1em;
    cursor: pointer
}

    button.info {
        background-color: #4caf50;
        color: white;
    }

        button.info:hover {
            background-color: #45a049;
        }

    button.warn {
        background-color: #ce2525;
        color: white;
    }

        button.warn:hover {
            background-color: #9c2727;
        }
